/* ==========================================================================
   FOOTER
   ===========================================================================*/
.footer{
  padding: 44px 100px;
  @media screen and (max-width:479px){
    padding:44px 10px;
  }
  @media screen and (max-width:979px){
    padding: 44px 0;
  }
  p{
    display: inline-block;
    margin: 0;
    width: 40%;
    letter-spacing: 0.9px;
    opacity: 0.5;
    @media screen and (max-width:979px){
      display: none;
    }
  }
  ul{
    float: right;
    @media screen and (max-width:979px){
      float: none;
      text-align: center;
    }
    li{
      display: inline-block;
      vertical-align: middle;
      &:not(:last-child){
        margin-right: 40px;
        @media screen and (max-width:979px){
          margin-right: 10px;
        }
      }
      a{
        opacity: 1;
        letter-spacing: 0.9px;
        @include font-size(18px);
      }
    }
  }
}
.footer__rights{
  display: none;
  @media screen and (max-width:979px){
    display: block;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.9px;
    opacity: 0.5;
  }
}
/* end footer */