/* ==========================================================================
	 HEADER
	 ===========================================================================*/
.header{
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 42px;
  z-index: 555;
  @media screen and (max-width: 768px){
    position: fixed;
    padding: 36px 0;
    background-color: $color-white;
  }
}
.header-logo{
  opacity: 1;
  @media screen and (max-width: 768px){
    display: none;
  }
}
.header__logo{
  display: none;
  @media screen and (max-width: 768px){
    display:block;
    //width: 27%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
  a{
    @media screen and (max-width:479px){
      @include font-size(17px);
    }
    @media screen and (max-width: 768px){
      color:$color-black;
      @include font-size($font-size-h2);
      opacity: 1;
      font-weight: $font-weight-title;
      letter-spacing: 8.6px;
    }
  }
}
.burger{
  position: absolute;
  left: 36px;
  top: 32px;
  z-index: 21;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  @media screen and (max-width:479px){
    left: 15px;
    top: 24px;
  }
  @media screen and (max-width: 768px){
    display: block;
  }
}
.ion-bag{
  font-size: 29px;
  @media screen and (max-width:768px){
    @include font-size(37px);
  }
  @media screen and (max-width:479px){
    @include font-size(20px);
  }
  span {
    display: none;
    @media screen and (max-width:479px){
      right: -6px;
      bottom: -5px;
      width: 15px;
      height: 15px;
      @include font-size(12px);
      line-height: 18px;
    }
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      right: -5px;
      bottom: -10px;
      width: 24px;
      height: 24px;
      text-align: center;
      font-family: $font-family-mono;
      color: $color-white;
      background: $color-black;
      border-radius: 10px;
      @include font-size(16px);
      font-style: normal;
      line-height: 23px;
    }
  }
}
.bag{
  float: right;
  margin-left: 31px;
  display: inline-block;
  opacity: 1;
  @media screen and (max-width:479px){
    top: 37px;
  }
  @media screen and (max-width:768px){
    position: absolute;
    right: 36px;
    top: 30px;
  }
}
.header-menu{
  float: right;
  padding-top: 6px;
  ul{
    @media screen and (max-width: 768px){
      padding: 0;
      height: auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding-bottom: 50px;
      z-index: 3;
    }
  }
  li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 6.4px;
    @media screen and (max-width: 768px){
      display: block;
    }
    &:not(:last-child){
      margin-right: 23px;
      @media screen and (max-width: 768px){
        margin-right: 0;
      }
    }
    a{
      @media screen and (max-width: 768px){
      display: block;
      padding: 10px 0;
      &:hover {
        background: #e6e2e2;
        transition: all .4s ease;
      }
      }
    }
  }
  @media screen and (max-width: 768px){
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 100%;
    background: $color-main;
    text-align: center;
    z-index: 20;
    transform: translateX(-100%);
    transition: all .3s ease;
  }
}
.header-menu.open{
  transform: translateX(0);
}
body{
  .header-menu{
    .open{
      overflow: hidden;
    }
  }
}
.icon{
  transition: all 0.2s ease;
  &:before{
    transition: all 0.2s ease;
  }
  &:after{
    transition: all 0.2s ease;
  }
  i{
    transition: all 0.2s ease;
    &:before{
      transition: all 0.2s ease;
    }
    &:after{
      transition: all 0.2s ease;
    }
  }
}
//menu-icon
.menu.icon {
  color: $color-main;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 36px;
  height: 3px;
  background-color: $color-black;
  @media screen and (max-width:479px){
    width: 30px;
    height: 1px;
  }
  &:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    width: 36px;
    height: 3px;
    background-color: $color-black;
    @media screen and (max-width:479px){
      top: -7px;
      height: 1px;
      width: 30px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 36px;
    height: 3px;
    background-color: $color-black;
    @media screen and (max-width:479px){
      top: 7px;
      height: 1px;
      width: 30px;
    }
  }
}
//close-icon
.close.icon {
  color: $color-black;
  position: absolute;
  top: 31%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  z-index: 50;
  @media screen and (max-width:479px){
    width: 30px;
    height: 36px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 36px;
    height: 3px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    @media screen and (max-width:479px){
      width: 30px;
      height: 1px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 36px;
    height: 3px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    @media screen and (max-width:479px){
      width: 30px;
      height: 1px;
    }
  }
}

/* end header */
