/*==========================================================================
	 CATALOG
	 ===========================================================================*/
.catalog{
  padding: 80px 80px 40px 80px;
  @media screen and (max-width:979px){
    position: relative;
    padding-top: 48px;
    padding-bottom: 80px;
  }
  @media screen and (max-width:1199px){
    padding-left: 20px;
    padding-right: 20px;
  }
}
.aside{
  width: 29%;
  float: left;
  padding-right: 56px;
  @media screen and (max-width:479px){
    top: 129px;
  }
  @media screen and (max-width:979px){
    position: absolute;
    top: 109px;
    left: 0;
    display: none;
    width: 100%;
    background: $color-white;
    float: none;
    padding: 0 20px;
    z-index: 10;
  }
}
.aside.open{
  display: block;
}
.aside__title{
  margin: 0 0 17px 0;
  @include font-size(24px);
  letter-spacing: 1.54px;
}
.aside__subtitle{
  margin: 30px 0 0 0;
  @include font-size(20px);
  letter-spacing: 1.28px;
  &:last-child{
    margin-top: -27px;
  }
}
.aside-list{
  margin-top: 6px;
  margin-bottom: 60px;
  border-bottom: 1px solid #b2b2b2;
  li{
    &:last-child{
      margin-bottom: 36px;
    }
    a{
      opacity: 0.7;
      @include font-size(18px);
      line-height: 48px;
      letter-spacing: 1.15px;
      sup{
        opacity: 0.4;
      }
    }
  }
}

.aside-list_noborder{
  border-bottom: none;
  margin-bottom: 42px;
}
.aside-tags{
  li{
    display: inline-block;
    @include font-size(18px);
    opacity: 0.7;
    letter-spacing: 1.15px;
    line-height: 36px;
  }
}
.range-val{
  margin:0 5px 16px 0;
  width: 80px;
  height: 32px;
  border:1px solid #e0e0e0;
  font-family: $font-family-mono;
  opacity: 0.54;
  @include font-size(16px);
  letter-spacing: 0.8px;
  padding: 10px;
}
.btn_filter{
  margin-left: 17px;
  width: 72px;
  height: 32px;
  background: $color-main;
  border:none;
  cursor: pointer;
  font-family: $font-family-main;
  opacity: 0.87;
  letter-spacing: 0.8px;
  @include font-size(16px);
}
.aside__color{
  width: 37px;
  height: 37px;
}
//checkbox
.checkbox-color{
  display: inline-block;
  position: relative;
  margin: 13px 5px 33px 0;
  cursor: pointer;
}
input[type=checkbox] {
  opacity: 0;
}
.checkbox-color__label{
  display: inline-block;
  padding-left: 30px;
  font-size:0;
}
.checkbox-color__label:before {
  content:'';
  display: block;
  width: 37px;
  height: 37px;
  position: absolute;
  border:2px solid #c7c7c7;
  border-radius:50%;
  left: 0;
  top: 0;
  background-color: #c7c7c7;
  @include font-size(31px);
  text-align: center;
}
.checkbox-color__input{
  &:checked{
    &+ .checkbox-color__label{
    &:before{
      content: "\f3fd";
      font-family:$font-family-ion;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
    }
  }
  }
}
.checkbox-color__label-white{
  &:before{
    background-color: white;
  }
}
.checkbox-color__label-pink{
  &:before{
    background-color: #ff8b8b;
    border-color:#ff8b8b;
  }
}
.checkbox-color__label-blue{
  &:before{
    background-color: #b2e6fe;
    border-color:#b2e6fe;
  }
}
.checkbox-color__label-green{
  &:before{
    background-color: #beffc9;
    border-color:#beffc9;
  }
}
.catalog-content-top{
  float: left;
  width: 100%;
}
.catalog-content-top__results{
  width: 41%;
  float: right;
  text-align: right;
  margin: 0;
  opacity: 0.54;
  letter-spacing: 0.9px;
  line-height: 31px;
  @media screen and (max-width:979px){
    display: none;
  }
}
.catalog-content-top__filter{
  position: relative;
  display: none;
  width: 100px;
  float: right;
  font-family: $font-family-main;
  @include font-size(24px);
  letter-spacing: 1.54px;
  opacity: 1;
  @media screen and (max-width:479px){
    float: none;
    width: 100px;
    margin-left: 30px;
  }
  .ion-funnel{
    position: absolute;
    left: -32px;
  }
  .ion-android-arrow-dropdown{
    position: absolute;
    right: 7px;
  }
  @media screen and (max-width:979px){
    display: inline-block;
  }
}

////catalog-wrapper
.catalog-content{
  width: 70%;
  float: right;
  @media screen and (max-width:979px){
    width: 100%;
    float: none;
  }
}
.catalog-content-top-select{
  display: inline-block;
  width: 50%;
  @media screen and (max-width:479px){
    width: 70%;
  }
}

.catalog-content-wrapper{
  width: 100%;
  float: right;
  padding-top: 28px;
  .row{
    margin-left: -10px;
    margin-right: -10px;
    .col{
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      width: 50%;
      @media screen and (max-width:539px){
        margin-bottom: 50px;
        width: 100%;
      }
      @media screen and (max-width:978px){
        margin-bottom: 80px;
      }
    }
  }
}
.card{
  position: relative;
  padding: 5px 0;
  overflow: hidden;
  height: 496px;
  background: $color-main;
  @media screen and (max-width:978px){
    height: 336px;
  }
  &:hover {
    .img-hover {
      opacity: 1;
      transition: .3s;
    }
    .card__fav{
      opacity: 1;
      transition: .3s;
      transition: .3s;
    }
    .card-add{
      opacity: 1;
    }
    @media screen and (max-width:978px){
      .card-bottom{
        .card-bottom-left{
          span{
            display: none;
          }
        }
      }
    }
  }
}
.card-images{
  position: relative;
  height: 393px;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width:979px){
    height: 260px;
  }
  img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
  }
}
.card-bottom{
  background: $color-main;
  @media screen and (max-width:979px){
    background: $color-white;
  }
  @media screen and (max-width:539px){
    text-align: center;
  }
}
.card-bottom-left{
  padding: 25px 30px 25px 30px;
  width: 70%;
  padding-right: 0;
  @media screen and (max-width:979px){
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  a{
    margin: 0;
    letter-spacing: 0.9px;
    @include font-size(18px);
    opacity: 1;
    cursor: pointer;
  }
  span{
    display: block;
    font-family: $font-family-mono;
    opacity: 0.7;
    letter-spacing: 0.9px;
    margin-top: 10px;
  }
}
.card-bottom-right{
  position: relative;
  float: right;
  width: 60%;
  @media screen and (max-width:539px){
    width: 100%;
  }
  @media screen and (max-width:979px){
    float: left;
    top: 30px;
  }
}
.img-hover{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  z-index: 3;
  transition: .3s;
}
.card__fav{
  position: absolute;
  z-index: 6;
  top: 34px;
  right: 34px;
  font-family:$font-family-ion;
  @include font-size(29px);
  opacity: 0;
  transition: .3s;
}
.card-add{
  position: absolute;
  bottom: 25px;
  right: 34px;
  @include font-size(18px);
  z-index: 6;
  letter-spacing: 0.9px;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
  @media screen and (max-width:979px){
    right: 0;
    left: 0;
  }
  .icon-bag_card{
    margin-right: 8px;
    @include font-size(20px);
  }
}
.catalog-content-pages{
  float: right;
  margin-top: 30px;
  @media screen and (max-width:979px){
    display: none;
  }
  ul{
    position: relative;
    margin-right: -14px;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    a{
      font-family: $font-family-mono;
      @include font-size(24px);
      letter-spacing: 1.2px;
      &:focus{
        opacity: 1;
      }
      i{
        @include font-size(42px);
      }
    }
  }
}
.catalog-content__more{
  display: none;
  @media screen and (max-width:979px){
    display: block;
    text-align: center;
    @include font-size(20px);
    opacity: 1;
    text-decoration: underline;
    letter-spacing: 1px;
  }
}
/* end catalog */