/*==========================================================================
	 FIRST
	 ===========================================================================*/
.first{
  position: relative;
  height: 765px;
  width: 100%;
  background: $color-main;
  z-index: 1;
  @media screen and (max-width:479px){
    height: 478px;
  }
  @media screen and (max-width: 767px){
    padding-top: 111px;
    height: 548px;
  }
}
.slider-item{
  background: url("../images/item-bg.jpg") no-repeat;
  background-position-x:-114px;
  @media screen and (max-width:479px){
    background-position-x: center;
    background-position-y: -37px;
    background-size: 430px;
  }
  @media screen and (max-width:599px){
    background-position-x: -43%;
    background-position-y: -80px;
    background-size: 109%;
  }
  @media screen and (max-width:767px){
    background-position-x: 127%;
    background-position-y: 129%;
    background-size: 119%;
  }
  @media screen and (max-width:979px){
    background-position-x: -214px;
  }
}
.slider-item-content{
  padding-right: 216px;
  padding-top: 328px;
  float: right;
  @media screen and (max-width:479px){
    display: block;
    padding:218px 0 0;
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  @media screen and (max-width:599px){
    display: block;
    padding:44% 0 0 0;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
  @media screen and (max-width:767px){
    padding-right: 10px;
    padding-top: 144px;
  }
  @media screen and (max-width:979px){
    margin-right: 5%;
  }
  @media screen and (max-width:1199px){
    padding-right: 0;
    margin-right: 11%;
  }
  p{
    margin-bottom: 14px;
    @include font-size(32px);
    letter-spacing: 3.2px;
    @media screen and (max-width:479px){
      @include font-size(22px);
      margin-bottom: 5px;
    }
  }
  a{
    @include font-size(24px);
    letter-spacing: 1.2px;
    text-decoration: underline;
    opacity: .7;
    @media screen and (max-width:479px){
      @include font-size(17px);
    }
  }
}
.slick-track{
  height: 765px;
  @media screen and (max-width:479px){
    height: 367px;
  }
  @media screen and (max-width:768px){
    height: 437px;
  }
}

.slick-arrow {
  z-index: 4;
}
.slick-next{
  right: -3px;
  margin-top: 33px;
  &:before{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 20px;
    height: 2px;
    background: $color-black;
    transform: rotate(35deg);
  }
  &:after{
    position: absolute;
    right: 0;
    top: 11px;
    content: '';
    width: 20px;
    height: 2px;
    background: $color-black;
    transform: rotate(-35deg);
  }
}
.slick-prev{
  left: 0;
  margin-top: 33px;
  &:before{
    position: absolute;
    right: 0;
    top: -1px;
    content: '';
    width: 20px;
    height: 2px;
    background: $color-black;
    transform: rotate(-40deg);
  }
  &:after{
    position: absolute;
    right: 0;
    top: 11px;
    content: '';
    width: 20px;
    height: 2px;
    background: $color-black;
    transform: rotate(40deg);
  }
}
.first-count{
  position: absolute;
  right: 119px;
  bottom: 46px;
  opacity: 0.7;
  font-family: $font-family-mono;
  @media screen and (max-width:479px){
    right: 17px;
    bottom: 14px;
    @include font-size(16px);
  }
  @media screen and (max-width:768px){
    right: 41px;
    bottom: 35px;
  }
  .text{
    font-family:$font-family-italic;
    font-style: italic;
    padding: 0 5px;
  }
}
.slick-dots{
  bottom:30px;
  @media screen and (max-width:479px){
    display: none;
  }
  li{
    &.slick-active{
      button{
        &:before{
          background: #e5e5e5;
          border-radius:50%;
          content:"";
        }
      }
    }
    button{
      border: 3px solid #e5e5e5;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      &:before{
        width: 15px;
        height: 15px;
        border-right: 50%;
        opacity: 0;
      }
    }
  }
}
/* end first */