/*==========================================================================
	 FORM
	 ===========================================================================*/
.form-block{
  padding: 100px;
  background: $color-main;
  @media screen and (max-width:979px){
    padding: 60px 40px;
  }
  @media screen and (max-width:767px){
    padding: 60px 20px;
  }
  p{
    display: inline-block;
    margin: 0;
    width: 40%;
    font-family: $font-family-italic;
    font-style: italic;
    @include font-size(42px);
    letter-spacing: 2.6px;
    @media screen and (max-width:479px){
      @include font-size(23px);
    }
    @media screen and (max-width:767px){
      @include font-size(34px);
    }
    @media screen and (max-width:979px){
      text-align: center;
      margin-bottom: 35px;
      width: 100%;
    }
    @media screen and (max-width:1439px){
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.form{
  display: inline-block;
  float: right;
  width: 57%;
  @media screen and (max-width:768px){
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
  }
  @media screen and (max-width:1439px){
    width: 100%;
  }
  .btn{
    float: right;
    padding: 14px 60px;
    letter-spacing: 0.9px;
    border:3px solid $color-black;
    background: $color-white;
    cursor: pointer;
    @media screen and (max-width:768px){
      width: 100%;
      order:2;
      float: none;
      text-align: center;
    }
  }
  input{
    padding: 14px 25px;
    width: 74%;
    border: 3px solid #eee;
    background: $color-white;
    outline: none;
    @media screen and (max-width:768px){
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }
    @media screen and (max-width:1439px){
      width: calc(100% - 172px); //calc
    }
  }
}
/* end form */