/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"]{
	//position
	position: relative;
	z-index: z(button);
	//box mmodel
	display: inline-block;
	vertical-align: middle;
	padding: btn(padding);
	min-width: btn(min-width);
	max-width: btn(max-width);
	height: btn(height);
	box-shadow: 0 5px 30px rgba(31, 35, 37, 0.25);
	//font
	font-family: btn(font-family);
	@include font-size(btn(font-size));
	line-height: btn(line-height);
	font-weight: btn(font-weight);
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	// other
	overflow: hidden;
	border-radius: btn(border-radius);
	cursor: pointer;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: inherit;
	z-index: 1;
	transition: all .3s ease;
	&:focus{
		outline:none;
	}
	&:hover{
		cursor: pointer;
	}
	@include mq ('tablet', 'max') {
		padding: 0 10px;
	}
	&.btn_full{
		width: 100%;
		min-width: 0;
	}
}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}

/* PRIMARY */
.btn_primary{
	color: $btn-primary-color;
	background-color: $btn-primary-bg;
	border: $btn-primary-border;
	text-transform: uppercase;
	font-weight: 700;
	min-width: 219px;
	min-height: 50px;
	//@include font-size($font-size-20);
	&:hover{
		color: $btn-primary-colorHover;
		border: $btn-primary-borderHover;
		background-color: $btn-primary-bgHover;
	}
	&:active{
		color: $btn-primary-colorActive;
		border: $btn-primary-borderActive;
		background-color: $btn-primary-bgActive;
	}
}

/* SECONDARY */
.btn_secondary{
	color: $btn-secondary-color;
	background-color: $btn-secondary-bg;
	border: $btn-secondary-border;
	text-transform:uppercase;
	min-width: 214px;
	min-height: 45px;
	font-weight: 700;
	&:hover{
		color: $btn-secondary-colorHover;
		border: $btn-secondary-borderHover;
		background-color: $btn-secondary-bgHover;
	}
	&:active{
		color: $btn-secondary-colorActive;
		border: $btn-secondary-borderActive;
		background-color: $btn-secondary-bgActive;
	}
}

/*BLACK */
.btn_black{
	color: $btn-black-color;
	background-color: $btn-black-bg;
	border: $btn-black-bg;
	text-transform:uppercase;
	min-width: 219px;
	min-height: 50px;
	font-weight: 400;
	@media screen and (max-width:768px){
		@include font-size(15px);
	}
	//@include font-size($font-size-20);
	&:hover{
		color: $btn-black-colorHover;
		border: $btn-black-borderHover;
		background-color: $btn-black-bgHover;
	}
	&:active{
		color: $btn-black-colorActive;
		border: $btn-black-borderActive;
		background-color: $btn-black-bgActive;
	}
}
.btn_form{
	display: block;
	margin: 0 auto;
	margin-top: -14px;
	width: 100%;
	max-width: 345px;
	min-height: 55px;
}


/* end buttons*/
