/*----------------------------------------
	FORM
----------------------------------------*/
.js-form{
	position: relative;
	display: block;
	padding-bottom: 20px;
	width: 100%;
	max-width: 422px;
	min-height: 450px;
	background: $color-white;
	box-shadow: 0 0 43px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	@media screen and (max-width: 479px){
		min-height: 350px;
	}
	span{
		color:$color-main;
	}
}
.form__top{
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 36px;
	background:$color-black;
	color:$color-white;
	border-radius: 5px 5px 0 0;
	@include font-size($font-size-h1);
	text-transform: uppercase;
	font-weight: 700;
	@media screen and (max-width: 479px){
		@include font-size(19px);
	}
	@media screen and (max-width: 767px){
		@include font-size(26px);
	}
	&.form__top_yellow{
		background: $color-main;
		color:$color-black;
	}
}
/*
STYLE FOR INPUT
*/
.form-input{
	z-index: 2;
	width: input(width);
	height: input(height);
	font-family: input(font-family);
	@include font-size(input(font-size));
	color: input(color);
	border:none;
	border-bottom: 1px solid #e4e4e4;
	font-weight: input(font-weight);
	font-style: input(font-style);
	background-color: input(background);
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: input(text-align);
	display:block;
    padding: 2px 0 12px 0;
	@include box-sizing(border-box);
	@include placeholder {
		color: input(placeholder);
		transition: input(transition);
		letter-spacing: 0.9px;
		opacity: 0.4;
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		+ span.error{
			opacity: 0;
		}
		~.form-line{
			width: 100%;
			transition: all .3s ease-in-out;
			height: 1px;
			visibility: visible;
		}
	}
	@media screen and (max-width: 479px){
		@include font-size(15px);
		border-radius:0 0;
	}
}
.form-line{
	position: absolute;
	display: block;
	bottom: -10px;
	left: 0;
	width:0;
	height: 1px;
	background: $color-main;
	z-index: 5;
	transition: all .3s ease-in-out;
	visibility:hidden;
	margin: 0;
	bottom: 0px;
	border: 0;
}
.form-input{
	&.error{
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cstyle%3E.st0%7Bfill%3Anone%3Bstroke%3A%23e15050%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M2%2030L30%202m0%2028L2%202%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-position: right 3px;
		-webkit-background-size: 12px 12px;
		background-size: 12px 12px;
		color:#e15050;
		& ~ .form-line{
			background: #e15050;
		}
	}
	&.valid{
		background: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cstyle%3E.st0%7Bfill%3Anone%3Bstroke%3A%2319933b%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M2%2020l10%208L30%204%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-position: right 3px;
		-webkit-background-size: 13px 11px;
		background-size: 13px 11px;
		color:#19933b;
		& ~ .form-line{
			background: #19933b;
		}
	}
}
.form-textarea{
	display: block;
	width: 100%;
	height: 100px;
	font-family: $font-family-main;
	border:none;
	border-bottom: 1px solid #e4e4e4;
	resize: none;
	@include placeholder {
		color: input(placeholder);
		transition: input(transition);
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: all 1s;
		}
		& + span{
			&.error{
				opacity: 0;
			}
		}
		& ~ .form-line{
			width: 100%;
			transition: all .3s ease-in-out;
			height: 1px;
			visibility: visible;
		}
	}
	@media screen and (max-width: 479px){
		@include font-size(15px);
		height: 40px;
	}
}
.form-group{
	position: relative;
	margin-bottom: 34px;
}
.form-body{
	margin: 0 35px;

}
label{
	&.error{
		color:#e15050;
		font-size: 12px;
		position: absolute;
		top: 34px;
		right: 0;
		pointer-events: none;
	}
}
/* end forms */